{
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "airbnb/hooks"
  ],
  "plugins": [
    "react",
    "react-native"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "es2021": true,
    "react-native/react-native": true
  },
  "rules": {
    "no-use-before-define": "off",
    "no-unused-vars": "off",
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "react/no-unstable-nested-components": "off"
  }
}
